<div class="item-pedido" id="li-{{ orderId }}" data-pedido="{{ orderId }}">
    <div class="item-info">
        <span class="id-pedido">Pedido #{{ orderId }}</span>
        <span class="fecha-pedido">{{ orderDate }}</span>
    </div>
</div>
