services:
    nginx:
        container_name: sf-kompy-nginx
        image: nginx:stable-alpine
        ports:
            -   "8000:80"
        volumes:
            - ./:${APP_PATH}
            - .docker/nginx.conf:/etc/nginx/conf.d/default.conf
        networks:
            - kompy-net
    php:
        container_name: sf-kompy-php
        build:
            context: .docker/
            args:
                UID: ${U_ID}
                APP_PATH: ${APP_PATH}
        volumes:
            - ./:${APP_PATH}
            - .docker/custom-fpm.conf:/usr/local/etc/php-fpm.d/z-custom-fpm.conf:ro
            - .docker/custom-php.ini:/usr/local/etc/php/conf.d/z-custom-php.ini:ro
        user: ${U_ID}
        networks:
            - kompy-net

networks:
    kompy-net:
